---
import { getTopTagsThenRemainder } from "@lib/tags";
import Tag from "@components/tag/Tag.astro";

const [tags, _] = await getTopTagsThenRemainder(3);
---

<ul>
  {
    tags.map((tag) => (
      <li>
        <Tag tag={tag} />,
      </li>
    ))
  }
  <li>
    and <a href="/tags">more</a>!
  </li>
</ul>
