# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# generated mermaid charts
**.mmd.svg

# Cypress test artefacts
cypress/screenshots
cypress/videos

# Cypress generated fixtures
cypress/fixtures/blog.json
cypress/fixtures/tag.json

# Pretty feed
public/pretty-feed-v3.xsl