---
import BlogChip from "@components/BlogChip.astro";
import config from "@config";
import Gallery from "@layouts/Gallery.astro";

import { getAllBlogPosts } from "@lib/blogs";
import type { GetStaticPathsOptions, Page } from "astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const blogs = await getAllBlogPosts();

  return paginate(blogs, { pageSize: config.pagination.blog });
}

interface Props {
  page: Page;
}

const { page } = Astro.props;
---

<Gallery page={page} title="Blog">
  <h1 class="mb-8">
    {
      page.currentPage == 1
        ? "I post about all sorts of things, but here are the my latest posts:"
        : "And here are some other posts:"
    }
  </h1>
  <ol>
    {
      page.data.map((post) => (
        <li class="mb-4">
          <BlogChip postSlug={post.slug} />
        </li>
      ))
    }
  </ol>
</Gallery>
