---
import { getEntry, type CollectionEntry } from "astro:content";
import ResumeInstitutions from "@components/ResumeInstitutions.astro";
import Zebra from "@components/Zebra.astro";
interface Props {
  award: CollectionEntry<"award">;
}

const { award } = Astro.props;
const { data } = award;

const grantedBy = await getEntry(data.grantedBy);
---

<Zebra>
  <header class="flex justify-between flex-wrap">
    <h1 class="text-lg font-bold mb-2">{data.award}</h1>
  </header>
  <aside class="flex justify-between flex-wrap mb-4" title={`details for ${award.id}`}>
    <h2 class="text-md font-bold">
      <ResumeInstitutions institution={grantedBy} />
    </h2>
    <p class="font-thin">{data.year}</p>
  </aside>
</Zebra>
