---
import { getCollection, CollectionEntry } from "astro:content";
import BlogEntry from "../../components/BlogEntry.astro";
import CommonLayout from "../../layouts/CommonLayout.astro";

export async function getStaticPaths() {
    const tags = await getCollection("tag");

    return Promise.all(
        tags.map(async (tag) => ({
            params: {
                tag: tag.slug,
            },
            props: {
                currentTag: tag,
                posts: await getCollection("blog", ({ data }) =>
                    data.tags.includes(tag.slug)
                ),
            },
        }))
    );
}

interface Props {
    currentTag: CollectionEntry<"tag">;
    posts: CollectionEntry<"blog">[];
}

const { currentTag, posts } = Astro.props;
const { Content } = await currentTag.render();
---

<CommonLayout>
    <h1 class="text-3xl">{currentTag.data.name}</h1>
    <section class="mb-4">
        <Content/>
    </section>
    <section>
        <h2 class="text-lg">Here are the posts with this tag:</h2>
        <ol class="flex flex-col gap-2">
            {posts.map((post) => <li><BlogEntry entry={post}/></li>)}
        </ol>
    </section>
</CommonLayout>
