---
import { getCollection, CollectionEntry } from "astro:content";
import BlogEntry from "@components/BlogEntry.astro";
import CommonLayout from "@layouts/CommonLayout.astro";
import { getAllBlogPostsRelatedTo } from "@lib/blogs";

export async function getStaticPaths() {
  const tags = await getCollection("tag");

  return Promise.all(
    tags.map(async (tag) => ({
      params: {
        tag: tag.slug,
      },
      props: {
        currentTag: tag,
        posts: await getAllBlogPostsRelatedTo(tag),
      },
    }))
  );
}

interface Props {
  currentTag: CollectionEntry<"tag">;
  posts: CollectionEntry<"blog">[];
}

const { currentTag, posts } = Astro.props;
const { Content } = await currentTag.render();
---

<CommonLayout title={`Blog Tag - ${currentTag.data.name}`}>
  <h1>{currentTag.data.name}</h1>
  <section>
    <Content />
  </section>
  <section>
    <h2>Here are the posts with this tag:</h2>
    <ol>
      {
        posts
          .filter((b) => b.data.pubDate.getTime() < new Date().getTime())
          .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
          .map((post) => (
            <li>
              <BlogEntry entry={post} />
            </li>
          ))
      }
    </ol>
  </section>
</CommonLayout>
