---
import { getCollection, CollectionEntry } from "astro:content";
import CommonLayout from "../../layouts/CommonLayout.astro";

export async function getStaticPaths() {
    const tags = await getCollection("tag");

    return Promise.all(
        tags.map(async (tag) => ({
            params: {
                tag: tag.slug,
            },
            props: {
                currentTag: tag,
                posts: await getCollection("blog", ({ data }) =>
                    data.tags.includes(tag.slug)
                ),
            },
        }))
    );
}

interface Props {
    currentTag: CollectionEntry<"tag">;
    posts: CollectionEntry<"blog">[];
}

const { tag } = Astro.params;
const { currentTag, posts } = Astro.props;
const { Content } = await currentTag.render();
---

<CommonLayout>
    <h1>{currentTag.data.name}</h1>
    <section>
        <Content/>
    </section>
    <section>
        <h2>Here are the posts with this tag:</h2>
        <ol>
            {posts.map((post) => <li>{post.data.title}</li>)}
        </ol>
    </section>
</CommonLayout>
