---
import { getCollection, CollectionEntry } from "astro:content";
import BlogEntry from "@components/BlogEntry.astro";
import CommonLayout from "@layouts/CommonLayout.astro";
import { getAllBlogPostsRelatedTo } from "@lib/blogs";

export async function getStaticPaths() {
    const tags = await getCollection("tag");

    return Promise.all(
        tags.map(async (tag) => ({
            params: {
                tag: tag.slug,
            },
            props: {
                currentTag: tag,
                posts: await getAllBlogPostsRelatedTo(tag),
            },
        }))
    );
}

interface Props {
    currentTag: CollectionEntry<"tag">;
    posts: CollectionEntry<"blog">[];
}

const { currentTag, posts } = Astro.props;
const { Content } = await currentTag.render();
---

<CommonLayout>
    <h1 class="text-3xl">{currentTag.data.name}</h1>
    <section
        class="mb-4 prose prose-slate prose-a:text-cyan-900 prose-a:hover:text-cyan-700 dark:prose-a:text-cyan-200 dark:prose-a:hover:text-cyan-400"
    >
        <Content />
    </section>
    <section>
        <h2 class="text-lg">Here are the posts with this tag:</h2>
        <ol class="flex flex-col gap-2">
            {
                posts
                    .filter(
                        (b) => b.data.pubDate.getTime() < new Date().getTime()
                    )
                    .sort(
                        (a, b) =>
                            b.data.pubDate.getTime() - a.data.pubDate.getTime()
                    )
                    .map((post) => (
                        <li>
                            <BlogEntry entry={post} />
                        </li>
                    ))
            }
        </ol>
    </section>
</CommonLayout>
