---
import type { MarkdownInstance } from 'astro';
import CommonLayout from '../../layouts/CommonLayout.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../../posts/*.md");

  return allPosts.flatMap(post=>post.frontmatter.tags).map(tag=>({
    params: {
        tag,
    },
    props: {
        posts: allPosts
    }
  }))
}

interface Props {
    posts: MarkdownInstance<Record<string, any>>[];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---
<CommonLayout>
    <h1>Here are the posts with the tag: {tag}</h1>
    <ol>
        {filteredPosts.map(post=><li>{post.frontmatter.title}</li>)}
    </ol>
</CommonLayout>