---
import Tag from "@components/Tag.astro";

import { getTopTagsThenRemainder } from "@lib/tags";
import Gallery from "@layouts/Gallery.astro";

const [topTags, otherTags] = await getTopTagsThenRemainder();
---

<Gallery title="Tags">
  <section class="mb-8">
    <h2 class="text-xl mb-4">
      I post about all sorts of things, but here are the more popular topics:
    </h2>
    <ol>
      {
        topTags.map((tag) => (
          <li class="mb-2">
            <Tag tag={tag} />
          </li>
        ))
      }
    </ol>
  </section>
  {
    otherTags.length > 0 ? (
      <section>
        <h2 class="text-xl mb-4">
          And these are the less popular, alphabetically:
        </h2>
        <ol>
          {otherTags.sort().map((tag) => (
            <li class="mb-2">
              <Tag tag={tag} />
            </li>
          ))}
        </ol>
      </section>
    ) : (
      ""
    )
  }
</Gallery>
