---
import CommonLayout from "@layouts/CommonLayout.astro";
import Tag from "@components/Tag.astro";

import { getTopTagsThenRemainder } from "@lib/tags";

const [topSixTags, remainingTags] = await getTopTagsThenRemainder();
---

<CommonLayout title="Blog Tags">
  <h1>
    I post about all sorts of things, but here are the more popular topics:
  </h1>
  <ol>
    {
      topSixTags.map((tag) => (
        <li>
          <Tag tag={tag} />
        </li>
      ))
    }
  </ol>
  {
    remainingTags.length > 0 ? (
      <>
        <h2>And these are the less popular, alphabetically:</h2>
        <ol>
          {remainingTags.sort().map((tag) => (
            <li>
              <Tag tag={tag} />
            </li>
          ))}
        </ol>
      </>
    ) : (
      ""
    )
  }
</CommonLayout>
