---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout>
	<h1>Hello!</h1>
</CommonLayout>
