---
import config from "@config";

import CommonLayout from "@layouts/CommonLayout.astro";
---
<CommonLayout title="Contact">
	<h1>Here are my social media:</h1>
	<ul>
		{
			config.socialLinks.map(l=> 
				<li><a href={l.link}>{l.name}</a></li>
			)		
		}
	</ul>
</CommonLayout>
