---
import TagCloud from "@components/TagCloud.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Hector's personal website">
  <main>
    <section>
      <h3>Welcome to my personal website!</h3>
      <h1>I am Hector.</h1>
      <p>
        I am a maker that enjoys the software craft, as well as some other
        topics, such as:
      </p>
      <TagCloud />
      <p>
        Also, while you are here, feel free to read <a href="/blog">my blog</a>.
      </p>
    </section>
    <section>
      <img src="/avatar.jpg" alt="a cartoonized depiction of the author" />
    </section>
  </main>
</BaseLayout>
