---
import Link from "@components/link/Link.astro";
import LinkChip from "@components/link/LinkChip.astro";
import Tag from "@components/tag/Tag.astro";
import Base from "@layouts/Base.astro";
import { getTopTagsThenRemainder } from "@lib/tags";
import { getAllBlogPosts } from "@lib/blogs";
import Blog from "@components/blog/Blog.astro";

const [tags, _] = await getTopTagsThenRemainder(3);
const recentPosts = await getAllBlogPosts().then((p) => p.slice(0, 3));
---

<Base>
  <main
    class="flex flex-col justify-around md:justify-between items-stretch p-12 py-6 md:p-32 md:py-12 lg:px-60 flex-grow text-white text-lg md:text-xl"
  >
    <section class="self-center max-w-lg">
      <section class="mb-4">
        <h1 class="font-medium text-xl md:text-2xl mb-4">Hey! Welcome!</h1>
        <h2 class="font-bold text-2xl md:text-8xl mb-6">I'm Hector.</h2>
        <p>
          I'm a maker that enjoys the software craft, as well as some other
          topics, such as:
          {tags.map((t) => <Tag tag={t} suffix=", " />)}
           and more!
        </p>
      </section>
      <section class="mb-8">
        <h3 class="mb-2">
          I publish my thoughts on my <Link href="/blog">blog</Link>, here are
          the most recent ones:
        </h3>
        <ol class="flex flex-col justify-around gap-1 md:gap-2">
          {
            recentPosts.map((post) => (
              <li class="text-base">
                <Blog post={post.slug} />
              </li>
            ))
          }
        </ol>
      </section>
      <section>
        <p>
          I also work on other <Link href="/projects">projects</Link>, some of
          which are open. Check them out!
        </p>
      </section>
    </section>
    <aside
      class="self-end text-right max-w-[60vw] md:max-w-[30vw]"
      title="navigation"
    >
      <nav>
        <ul class="flex flex-col gap-2">
          <li>
            <LinkChip href="/blog" title="blog">Thoughts & ramblings</LinkChip>
          </li>
          <li>
            <LinkChip href="/projects" title="projects">Other stuff</LinkChip>
          </li>
        </ul>
      </nav>
    </aside>
  </main>
  <aside
    class="absolute bottom-0 -left-[10vh] lg:-left-[20vh] max-h-[80vh] max-w-[70vw] aspect-square -z-10"
  >
    <img
      src="avatar-transparent.png"
      alt="A charicature of the author"
      title="The author"
    />
  </aside>
</Base>
