---
import TagCloud from "../components/TagCloud.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="max-w-screen-xl mx-auto">
		<h3>Welcome to my personal website!</h3>
		<h1>I am Hector.</h1>
		<p>
			I am a software thing-maker that enjoys the craft, as well as some
			other topics, such as:
		</p>
		<TagCloud/>
		<p>Also, while you are here, feel free to read <a href="/blog">my blog</a>.</p>
	</main>
</BaseLayout>
