---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main class="max-w-screen-xl mx-auto">
		<h3>Welcome to my personal website!</h3>
		<h1>I am Hector.</h1>
		<p>
			I am a software thing-maker that enjoys the craft, as well as some
			other topics, such as:
		</p>
		<ul>
			<!--
				TODO: Create this section dynamically based on the blogpost keywords,
				weighting with the count of each page per-keyword.
			-->
			<li>Games</li>
			<li>Narrative</li>
			<li>Tooling</li>
			<li>and more!</li>
		</ul>
		<p>If you are interested, feel free to read <a href="/blog">my blog</a>.</p>
	</main>
</BaseLayout>
