---
import Announcement from "@components/Announcement.astro";
import Link from "@components/Link.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
  </head>
  <body
    class="h-screen bg-gradient-to-br from-green-300 from-10% to-emerald-600 to-80%"
  >
    <Announcement/>
    <main class="flex flex-col justify-around md:justify-between items-stretch p-12 md:p-32 md:px-60 h-screen text-white">
      <section class="self-center max-w-lg">
        <h2 class="font-medium text-xl mb-4">Hey! Welcome!</h2>
        <h1 class="font-bold text-4xl mb-8">I'm Hector.</h1>
        <p class="mb-4">
          I'm a maker that enjoys the software craft,
          as well as some other topics, such as:
          <Link href="/tags/planning">planning,</Link>
          <Link href="/tags/architecture">architecture,</Link>
          <Link href="/tags/tooling">tooling,</Link>
          and more!
        </p>
        <h3 class="mb-4">
          I publish my thoughts on my <Link href="/blog">blog</Link>, give it a read!
        </h3>
        <p>
          I also work on other <Link href="/projects">projects</Link>, some of which
          are open. Check them out!
        </p>
      </section>
      <aside class="self-end text-right">
        <nav>
          <ul>
            <li class="max-w-[30vw]">
              <a href="/contact">
                <p>Talk to me</p>
                <b class="uppercase">contact</b>
              </a>
            </li>
            <li class="max-w-[30vw]">
              <a href="/blog">
                <p>Thoughts and ramblings</p>
                <b class="uppercase">blog</b>
              </a>
            </li>
            <li class="max-w-[30vw]">
              <a href="/projects">
                <p>Other stuff</p>
                <b class="uppercase">projects</b>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </main>
    <aside class="fixed bottom-0 -left-[10vh] lg:-left-[20vh] max-h-[80vh] max-w-[70vw] aspect-square -z-10">
      <img
        src="avatar-transparent.png"
        alt="A charicature of the author"
        title="The author"
      />
    </aside>
  </body>
</html>
