<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>
    <main>
        <h2>Hey! Welcome!</h2>
        <h1>I'm Hector.</h1>
        <p>I'm a maker that enjoys the software craft, as well as some other topics, such as:</p>
        <ul>
            <li><a href="/tags/planning">planning</a></li>
            <li><a href="/tags/architecture">architecture</a></li>
            <li><a href="/tags/tooling">tooling</a></li>
            <li> and more!</li>
        </ul>
        <h3>I publish my thoughts on my <a href="/blog">blog</a>, give it a read!</h3>
        <p>I also work on other <a href="/projects">projects</a>, some of which are open. Check them out!</p>
        <aside>
            <img src="avatar-transparent.png" />
        </aside>
    </main>
    <aside>
        <nav>
            <ul>
                <li>
                    <a href="/contact">
                        <p>Talk to me</p>
                        <b>contact</b>
                    </a>
                </li>
                <li>
                    <a href="/blog">
                        <p>Thoughts and ramblings</p>
                        <b>blog</b>
                    </a>
                </li>
                <li>
                    <a href="/projects">
                        <p>Other stuff</p>
                        <b>projects</b>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
</body>
</html>