<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
  </head>
  <body
    class="h-screen bg-gradient-to-br from-green-300 from-10% to-emerald-600 to-80%"
  >
    <main class="flex flex-col justify-between items-stretch p-32 px-60 h-screen text-white">
      <section class="self-center">
        <h2 class="font-medium text-xl">Hey! Welcome!</h2>
        <h1 class="font-bold text-4xl">I'm Hector.</h1>
        <p>
          I'm a maker that enjoys the software craft,
          as well as some other topics, such as:
        </p>
        <ul>
          <li><a href="/tags/planning">planning</a></li>
          <li><a href="/tags/architecture">architecture</a></li>
          <li><a href="/tags/tooling">tooling</a></li>
          <li>and more!</li>
        </ul>
        <h3>
          I publish my thoughts on my <a href="/blog">blog</a>, give it a read!
        </h3>
        <p>
          I also work on other <a href="/projects">projects</a>, some of which
          are open. Check them out!
        </p>
      </section>
      <aside class="self-end text-right">
        <nav>
          <ul>
            <li class="max-w-[30vw]">
              <a href="/contact">
                <p>Talk to me</p>
                <b class="uppercase">contact</b>
              </a>
            </li>
            <li class="max-w-[30vw]">
              <a href="/blog">
                <p>Thoughts and ramblings</p>
                <b class="uppercase">blog</b>
              </a>
            </li>
            <li class="max-w-[30vw]">
              <a href="/projects">
                <p>Other stuff</p>
                <b class="uppercase">projects</b>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </main>
    <aside class="fixed bottom-0 -left-[10vh] max-h-[80vh] max-w-[70vw] aspect-square -z-10">
      <img
        src="avatar-transparent.png"
        alt="A charicature of the author"
        title="The author"
      />
    </aside>
  </body>
</html>
