---
import config from "@config";
---
{config.announcement ? 
<aside class="sticky md:absolute md:top-4 md:right-4 w-screen md:max-w-xs mb-1 md:mb-0 bg-slate-100 bg-opacity-10 p-2 md:p-4 rounded text-xs text-white text-justify">
  <h1 class="font-bold mb-2">Announcement:</h1>
  <p class="">{config.announcement}</p>
</aside>
: ''}