---
interface Props {
    title: string;
    author: string;
    description: string;
    keywords?: string[];
}

const { title, author, description, keywords } = Astro.props;
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="author" content={author} />
<meta name="description" content={description} />
<link rel="icon" type="image/svg+xml" href="favicon/favicon.svg">
<link rel="icon" type="image/png" href="favicon/favicon.png">
{keywords && <meta name="keywords" content={keywords?.join(", ")} />}
