---
interface Props {
    title: string;
    author: string;
    description: string;
    keywords?: string[];
}

const { title, author, description, keywords } = Astro.props;
---

<meta charset="utf-8" />
<title>{title}</title>
<meta name="author" content={author} />
<meta name="description" content={description} />
{keywords && <meta name="keywords" content={keywords?.join(", ")} />}
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="icon" type="image/png" href="/favicon/favicon.png" />
<script
    async
    src="https://analytics.umami.is/script.js"
    data-website-id="f44226ef-3a9e-46ba-b98a-2dec9cb6129c"></script>
