---
interface Props {
    links: Link[];
}

const { links } = Astro.props;
---

<footer>
    <p>All rights reserved.</p>
    <nav>
        {links.map((link) => <a href={link.href}>{link.text}</a>)}
    </nav>
</footer>
