---
import config from "@config";
import { getTopTagsThenRemainder } from "@lib/tags";
import Link from "./Link.astro";
import Tag from "./Tag.astro";

const { author } = config;
const { links } = config.footer;
const [topTags, _] = await getTopTagsThenRemainder(3);
---

<footer
  class="max-w-xl mx-auto p-6 py-12 text-stone-50 text-sm font-bold tracking-wider text-center"
>
  <p>All rights reserved, {author}.</p>
  <nav class="flex flex-col justify-center gap-4">
    <nav class="flex justify-center gap-4">
      {links.map((link) => <Link href={link.href}>{link.text}</Link>)}
    </nav>
    <nav>
      <ol class="flex flex-row justify-center gap-4">
        <h1>Top <Link href="/tags">tags</Link>:</h1>
        {topTags.map((tag) => <li><Tag tag={tag} /></li>)}
      </ol>
    </nav>
  </nav>
</footer>
