---
import type { Link } from '../lib/links';

interface Props {
    links: Link[];
}

const { links } = Astro.props;
---

<header>
    <nav>
        {links.map((link) => <a href={link.href}>{link.text}</a>)}
    </nav>
</header>
