---
interface Props {
    links: {
        text: string;
        href: URL;
    }[];
}

const { links } = Astro.props;
---

<header>
    <nav>
        {links.map((link) => <a href={link.href}>{link.text}</a>)}
    </nav>
</header>
