---
import type { Link } from "@lib/links";
import config from "@config";

interface Props {
  links?: Link[];
}

const { links = config.header.links } = Astro.props;
---

<header>
  <nav>
    <a href="/">
      <img src="/avatar.jpg" alt="a cartoonized depiction of the author" />
    </a>
    {links.map((link) => <a href={link.href}>{link.text}</a>)}
  </nav>
</header>
