---
import Link from "@components/Link.astro";
import Markdown from "@components/Markdown.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props;
---

<article class="p-2 max-w-xs lg:max-w-[18rem]">
  <h1 class="font-bold text-2xl mb-2">
    {
      project.data.url ? (
        <Link href={project.data.url}>{project.data.name}</Link>
      ) : (
        project.data.name
      )
    }
  </h1>
  {
    project.data.image ? (
      <img
        src={project.data.image}
        class="h-full object-cover object-center aspect-video"
      />
    ) : (
      ""
    )
  }
  <Markdown markdown={project.body} />
</article>
