---
import type { CollectionEntry } from "astro:content";
import { micromark } from "micromark";

interface Props {
    entry: CollectionEntry<"project">;
}

const { entry } = Astro.props;
---

<article class="flex flex-col p-2 px-4">
    <a href={entry.data.url} class="order-2">
        <h1 class="text-lg font-bold">
            {entry.data.name}
        </h1>
    </a>
    {
        entry.data.image ? (
            <img src={entry.data.image} class="order-1 h-32 aspect-video object-contain" />
        ) : (
            ""
        )
    }
    <div class="order-3">
        <Fragment set:html={micromark(entry.body)} />
    </div>
</article>
