---
import { getTag } from "@lib/tags";

interface Props {
    tag: string;
}

const { tag } = Astro.props;

const tagEntry = await getTag(tag);
---

{
    tagEntry ? (
        <a
            href={`/tags/${tagEntry?.slug}`}
            class="text-cyan-900 hover:text-cyan-700 dark:text-cyan-200 dark:hover:text-cyan-400"
        >
            {tagEntry?.data.name}
        </a>
    ) : (
        ""
    )
}
