---
import { getTag } from "@lib/tags";

interface Props {
  tag: string;
}

const { tag } = Astro.props;

const tagEntry = await getTag(tag);
---

{tagEntry ? <a href={`/tags/${tagEntry?.slug}`}>{tagEntry?.data.name}</a> : ""}
