---
import {
  getOngoingProjects,
  getAbandonedProjects,
  getCompletedProjects,
} from "@lib/projects";

import Gallery from "@layouts/Gallery.astro";

const currentProjects = await getOngoingProjects();
const abandonedProjects = await getAbandonedProjects();
const completedProjects = await getCompletedProjects();
---

<Gallery title="Projects">
  <section class="mb-8">
    <h1 class="mb-8">Here are some things I am working on:</h1>
    <ol>
      {
        currentProjects.map((project) => (
          <li class="mb-4">{project.data.name}</li>
        ))
      }
    </ol>
  </section>
  <section class="mb-8">
    <h1 class="mb-8">Here are some of my previous projects:</h1>
    <ol>
      {
        completedProjects.map((project) => (
          <li class="mb-4">{project.data.name}</li>
        ))
      }
    </ol>
  </section>
  <section>
    <h1 class="mb-8">
      And these were the things I never quite managed to finish...
    </h1>
    <ol>
      {
        abandonedProjects.map((project) => (
          <li class="mb-4">{project.data.name}</li>
        ))
      }
    </ol>
  </section>
</Gallery>
