---
import CommonLayout from "@layouts/CommonLayout.astro";
import Tag from "@components/Tag.astro";

import {
    getOngoingProjects,
    getAbandonedProjects,
    getCompletedProjects,
} from "@lib/projects";
import ProjectEntry from "@components/ProjectEntry.astro";

const currentProjects = await getOngoingProjects();
const abandonedProjects = await getAbandonedProjects();
const completedProjects = await getCompletedProjects();
---

<CommonLayout>
    {
        currentProjects.length>0 ? (
            <>
                <h1 class="text-xl mb-3">
                    Here are some things I am working on:
                </h1>
                <ol class="grid grid-cols-2 md:grid-cols-3 gap-4 align-middle">
                    {currentProjects.sort().map((project) => (
                        <li class="bg-cyan-100 dark:bg-cyan-900 rounded-sm">
                            <ProjectEntry entry={project} />
                        </li>
                    ))}
                </ol>
            </>
        ) : (
            ""
        )
    }
    {
        completedProjects.length>0 ? (
            <>
                <h2 class="text-xl mb-3">
                    Here are some of my previous projects:
                </h2>
                <ol class="grid grid-cols-2 md:grid-cols-3 gap-4 align-middle">
                    {completedProjects.sort().map((project) => (
                        <li class="bg-cyan-100 dark:bg-cyan-900 rounded-sm">
                            <ProjectEntry entry={project} />
                        </li>
                    ))}
                </ol>
            </>
        ) : (
            ""
        )
    }
    {
        abandonedProjects.length>0 ? (
            <>
                <h2 class="text-xl mb-3">
                    And these were the things I never quite managed to finish...
                </h2>
                <ol class="grid grid-cols-2 md:grid-cols-3 gap-4 align-middle">
                    {abandonedProjects.sort().map((project) => (
                        <li class="bg-cyan-100 dark:bg-cyan-900 rounded-sm">
                            <ProjectEntry entry={project} />
                        </li>
                    ))}
                </ol>
            </>
        ) : (
            ""
        )
    }
</CommonLayout>
