---
import { getCollection, CollectionEntry } from "astro:content";
import { getAllBlogPostsRelatedTo } from "@lib/blogs";
import BlogChip from "@components/BlogChip.astro";
import Gallery from "@layouts/Gallery.astro";
import StyledProse from "@components/StyledProse.astro";

export async function getStaticPaths() {
  const tags = await getCollection("tag");

  return Promise.all(
    tags.map(async (tag) => ({
      params: {
        tag: tag.slug,
      },
      props: {
        currentTag: tag,
        posts: await getAllBlogPostsRelatedTo(tag),
      },
    }))
  );
}

interface Props {
  currentTag: CollectionEntry<"tag">;
  posts: CollectionEntry<"blog">[];
}

const { currentTag, posts } = Astro.props;
const { Content } = await currentTag.render();
---

<Gallery title={currentTag.data.name} description={currentTag.body}>
  <StyledProse>
    <Content />
  </StyledProse>
  <ol>
    {
      posts.map((post) => (
        <li class="mb-4">
          <BlogChip post={post.slug} />
        </li>
      ))
    }
  </ol>
</Gallery>
