---
import Base from "@layouts/Base.astro";

interface Props {
  frontmatter?: any;
}

const { frontmatter } = Astro.props;
---

<Base frontmatter={frontmatter}>
  <slot name="header"/>
  <main
    class="m-auto min-h-[95vh] w-screen lg:max-w-5xl p-4 md:p-12 bg-neutral-50 text-neutral-900"
  >
    <slot />
  </main>
</Base>
